.btn-radius {
    background-color: aqua;
    color: #de69c1;
    border-radius: 30px;
    display: inline-block;
    width: 200px;
    padding: 15px 0;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    box-sizing: border-box;
}

.btn-outline {
    background-color: transparent;
    color: #40e637;
    border: 4px solid #de69c1;
    display: inline-block;
    width: 200px;
    padding: 14px 0;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}

.btn-hover{
    background-color: aquamarine;
    color: #e54ed1;
    transition: background-color 0.3s; /* 色の変化を滑らかにする */
    display: inline-block;
    width: 200px;
    padding: 15px;
    text-align:center;
    text-decoration: none;
    font-weight:bold;

}
.btn-hover:hover {
  background-color: #090909; /* マウスを乗せた時の色 */
  color: #58edf8;
}

/*プロフィールカード全体の箱*/
.profile-image{
    width: 100%;
    height: 180px;
    background-color: aqua;
    color: #a4ebea;
    font-weight: bold;
    text-align: center;
    padding-top: 80px;
    box-sizing: border-box;
}

/*　画像部分 */
.profile-image {
    width: 100%;
    height: 180px;
    background-color: aquamarine;
    color: azure;
    font-weight: bold;
    text-align: center;
    padding-top: 80px;
    box-sizing: border-box;
}

/*　テキストコンテンツ部分　*/
.profile-content {
    padding: 20px;
}

.profile-content h3 {
    margin-top: 0;
    margin-bottom: 10px;
    color: #9de2ea;
    border-bottom: 2px solid #a4ebea;
}

.profile-content p {
    font-size: 14px;
    line-height: 1,6;
    color: rgb(117, 218, 236);
    margin: 0;
}

.profile-card {
    width: 300px;
    border:3px solid #40e637;
}